body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;

}

h1 {
  font-size: 5.625rem;
  margin-top: 20px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #FFF9F9;
  width: 100%;
  height: 10%;
  padding: 0;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #E5E3C9;
  font-weight: normal;
  height: 10%;

}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #F3E9DD;
  padding-bottom: 30px;
  width: 100%;


}

a {
    color: #11999E;
}

p {
  padding-bottom: 30px;
  width: 100%;
  min-width: 250px;
  height: 100%;
  line-height: 2;
  color: #EFEFEF;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  border-color: #AEBDCA;
  margin: 100px auto;
}

.top-container {
  padding-left: 5%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 105%;
  right: 10%;
  min-width: 460px;
}

.cloud1 {
  position: relative;
  left: 25%;
  top: 10%;
  width: 18%;
  max-width: 12rem;
  min-width: 5rem;
}

.cloud2 {
  top: auto;
  position: relative;
  right: 18%;
  width: 25%;
  max-width: 25rem;
  min-width: 7rem;
}

.sun {
  position: relative;
  left: 10%;
  bottom: 15%;
  width: 32%;
  max-width: 40rem;
  min-width: 15rem;
}

.middle-container {
  padding-top: 150px;
  padding-bottom: 100px;
  width: 100%;
  min-width: 460px;

}
.pic {
  width: 30%;
  min-width: 175px;
}
.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}

.im-coding {
  width: 25%;
  float: left;
  margin-right: 30px;
  min-width: 120px;
}
.prog-lang {
  height: 60px;
}
.certs {
  height: auto;
  width: 15%;
  max-width: 90px;
  min-width: 60px;
  position: relative;
  left: 60%;
}
.certificate-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  min-width: 120px;
}
.courses {
  padding-left: 30%;
}


.card {
  margin: auto;
  position: relative;
  width: 100%;
  min-width: 120px;
  height: 254px;
  border-radius: 4px;
  background: #43cea2;
  background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);
  background: linear-gradient(to bottom, #185a9d, #43cea2);
  display: flex;
  gap: 5px;
  max-width: 650px;

}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #7DFcDF;
  border: 1px solid #E3F6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}


.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 120px;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #123123;
  letter-spacing: .1em;
}

.card p:hover span {
  transform: rotate(0);
}


.contact-me {
  align-self: center;

}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #7C99AC;
  width: 100%;
  min-width: 460px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
