body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1 {
  font-size: 5.625rem;
  margin-top: 20px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #F8EDE3;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #6C4A4A;
  font-weight: normal;
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #354259;
}

a {
    color: #11999E;
}

.top-container {

  position: relative;
  padding-top: 100px;

}

.middle-container {


}

.bottom-container {


}

.prog-lang {
  height: 60px;
}
.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
  width: 300px;
  height: 150;
}

.cloud1 {
  position: absolute;
  right: 500px;
  top: 10px;
  width: 250px;
}

.sun {
  position: relative;
  left: 600px;
  width: 550px;
  height: 560px;

}
.contact {
  height: 40px;
}

.certs {
  height: 40px;
  width: 50px;
  position: relative;

}
.giphy-embed {
  width: 20px;
  height: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}

.im-coding {
  width: 25%;
  float: left;
  margin-right: 30px;

}

.certificate-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  width: 1%;
  height: 1%;
}
